body {
    background-color: rgb(57, 60, 75);
    font-family: 'Montserrat';
    font-size: large;
    color: white;
    margin: 0px;
}

#anchor1,
#anchor2 {
    text-decoration: none;
    color: white;
}

nav {
    background-color: rgb(80, 37, 209);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 10px 70px;
    list-style: none;
    padding: 5px;
}

#left {
    margin: 0 5%;
    font-size: xx-large;
}

#right {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 700px;
    border-radius: 30px;
}

#secleft {
    margin-top: 100px;
    font-size: 70px;
    font-weight: 700;
}

#aqua {
    color: aqua;
}

#secright {
    margin-top: 100px;

}

#anchor2:hover {
    font-size: 1.2em;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: ease-in;
    transition-duration: 0.1s;
}

#intro {
    margin-top: 100px;
    display: flex;

}

#divleft {
    margin-left: 100px;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divright {
    line-height: 70px;
    margin-left: 100px;
    font-size: 50px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 1000px;
    height: 2px;
    background-color: aqua;
    margin: 100px 50px;
    display: flex;
}

.img {
    width: 100px;
    margin-bottom: 10px;
}

.vertical {
    line-height: 25px;
    width: 200px;
    height: 200px;
    border-left: 2px solid white;
    /* background-color: aliceblue; */
    margin-left: 100px;
    padding-left: 10px;
    padding-top: 50px;

}

#education {
    font-size: 50px;
    font-weight: 500;
    margin: 100px 50px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,
h2 {
    font-weight: bold;
    color: rgb(80, 37, 209);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#skills {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category {
    margin-bottom: 20px;
}

.category h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
}


li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: rgb(80, 37, 209);
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

.progress {
    width: 80%;
    height: 100%;
    background-color: rgb(43, 188, 72);
    border-radius: 10px;
}

#contact {
    padding: 40px;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 40%;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left a {
    color: rgb(80, 37, 209);
}

.right {
    width: 50%;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left li {
    margin-bottom: 10px;
    line-height: 30px;
    padding: 10px;
}

.left i {
    font-size: 24px;
    margin-right: 10px;
}

.right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.right label {
    margin-bottom: 10px;
}

.right input,
.right textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.right input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right input[type="submit"]:hover {
    background-color: #23527c;
}